.login-row {
  /* background-color: #77C66E; */
  height: 100vh;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #20bf55 74%);
}

.login-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: white;
}
